/******   Affichage du titre en haut à droite   ******/
.main-titre {
    position: absolute;
    top: 8px;
    right: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    color: $colour-primary;
}

/******   AFFICHAGE DES PHOTOPRAGAPHES SELECTIONES  *******/
#cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.pcard {
    /*    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);   */
    padding-top: 20px;
    width: 100%;
    height: 358px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

    &:hover {
        border: 3px solid $colour-primary;
    }

    & img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border: 1px solid green;
        border-radius: 100px;
    }

    &__name {
        width: auto;
        height: 57px;
        font-size: 36px;
        line-height: 46.87px;
        color: $colour-secondary;
        align-self: center;
    }

    &__place {
        height: 37px;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.93px;
    }

    &__alt {
        height: 27px;
        font-size: 10px;
        font-weight: 500;
        color: black;
        line-height: 13.02px;
    }

    &__price {
        height: 17px;
        font-size: 10px;
        font-weight:300;
        color: $colour-price;
        line-height: 11.72px;
    }


    &__tags {
        margin-top: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;

        &x {
            // tag(s) du photographe
            font-size: 13px;
            font-weight: 600;
            height: 22px;
            border: 0.5px solid $colour-border;
            border-radius: 11px;
            padding: 0px 8px;
            margin-right: 8px;
            float: left;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                color: white;
                background-color: $colour-primary;
            }
        }
    }
}

/*   la modale photographe ne s'affiche pas par défaut */
#mod1 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    color: $colour-primary;
}

// affichage de l'entête du photographe sélectionné
.mod1__ {
    width: 100%;
    margin-top: 30px;
    height: auto;
    font-family: 'DM Sans';
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;

    &d {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_t {
            display: flex;
            flex-direction: column;
            width: fit-content;
            align-items: left;

            &name {
                width: auto;
                height: 57px;
                font-size: 36px;
                color: $colour-secondary;
            }

            &place {
                font-weight: 500;
                height: 17px;
                font-size: 13px;
            }

            &alt {
                margin-top: 8px;
                height: 17px;
                font-size: 13px;
                color: black;
            }
        }

        &_p {
            align-items: flex-end;
            width: fit-content;

            & img {

                object-fit: cover;
                width: 120px;
                height: 120px;
                border: 1px solid green;
                border-radius: 60px;
            }
        }
    }

    // tag(s) du photographe
    &tags {
        //        margin-top: 10px;
        height: 40px;
        display: flex;
        flex-direction: row;

        &x {
            font-size: 13px;
            font-weight: 600;
            height: 22px;
            color: $colour-primary;
            background-color: white;
            border: 0.5px solid $colour-border;
            border-radius: 11px;
            padding: 0px 8px;
            margin-right: 8px;
            float: left;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                color: white;
                background-color: $colour-primary;
            }
        }
    }
}

// affichage des medias du photographe
.mod1__show {
    display: grid;
    grid-template-columns: 1fr;

    // affichage d'un media du photographe
    &x {
        width: 100%;
        margin-bottom: 10px;

        // l'image ou la vidéo
        &v {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
            height: 190px;
            border: 2px solid black;
        }

        // le bandeau du média : titre et likes [nombre et icone]
        &d {
            display: flex;
            flex-direction: row;
            height: 30px;
            font-size: 14x;
            justify-content: space-between;
            align-items: center;

            &t {
                font-weight: 400;

            }

            &l {
                display: flex;
                flex-direction: row;
                align-items: center;

                &n {
                    font-weight: 500;
                    padding-right: 4px;
                }

                &c {
                    font-size: 13px;

                    & i {
                        color: $colour-primary;
                        background-color: white;
                    }

                    & i:hover {
                        color: white;
                        background-color: $colour-primary;
                    }
                }
            }
        }
    }
}

/*   la modale caroussel ne s'affiche pas par défaut */
#mod2 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: $colour-primary;
    border: 1px solid black;

    &>p {
        margin-top: 300px;
        font-size: 40px;
    }
}

/*   la modale caroussel ne s'affiche pas par défaut */
#form-modal {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: $colour-primary;
    border: 1px solid black;

    &>p {
        margin-top: 300px;
        font-size: 40px;
    }
}