/******   Affichage du titre en haut à droite   ******/
.main-titre {
    position: absolute;
    top: 8px;
    right: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    color: $colour-primary;
}

/******   AFFICHAGE DES PHOTOPRAGAPHES SELECTIONES  *******/
#cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 10px;
}

.pcard {
    /*    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);   */
    padding-top: 20px;
    width: 100%;
    height: 358px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

    &:hover {
        border: 3px solid $colour-primary;
    }

    &:visited {
        border: 3px solid $colour-secondary;
    }

    & img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border: 1px solid green;
        border-radius: 100px;
    }

    &__name {
        width: auto;
        height: 57px;
        font-size: 36px;
        line-height: 46.87px;
        color: $colour-secondary;
        align-self: center;
    }

    &__place {
        height: 37px;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.93px;
    }

    &__alt {
        height: 27px;
        font-size: 10px;
        font-weight: 500;
        color: black;
        line-height: 13.02px;
    }

    &__price {
        height: 17px;
        font-size: 10px;
        font-weight: 300;
        color: $colour-price;
        line-height: 11.72px;
    }


    &__tags {
        margin-top: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;

        // tag(s) du photographe
        &x {
            font-size: 13px;
            font-weight: 600;
            height: 22px;
            border: 0.5px solid $colour-border;
            border-radius: 11px;
            padding: 0px 8px;
            margin-right: 8px;
            float: left;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                cursor: pointer;
                color: white;
                background-color: $colour-primary;
            }
        }
    }
}

/*   les modales photographe ne s'affichent pas par défaut */
#mod1,
#mod2,
#mod3 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px 20px;
    background-color: white;
    color: $colour-primary;
}

// affichage de l'entête du photographe sélectionné
.mod1__ {
    width: 100%;
    height: auto;
    font-family: 'DM Sans';
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;

    &d {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_t {
            display: flex;
            flex-direction: column;
            width: auto;
            align-items: left;

            &name {
                height: auto;
                min-height: 57px;
                font-size: 36px;
                flex-wrap: wrap;
                color: $colour-secondary;
            }

            &place {
                font-weight: 500;
                height: 17px;
                flex-wrap: wrap;
                font-size: 13px;
            }

            &alt {
                margin-top: 8px;
                height: auto;
                height: 17px;
                font-size: 13px;
                flex-wrap: wrap;
                color: black;
            }
        }

        &_p {
            align-items: flex-end;
            width: fit-content;

            & img {

                object-fit: cover;
                width: 120px;
                height: 120px;
                border: 1px solid green;
                border-radius: 60px;
            }
        }

    }

    // tag(s) du photographe
    &tags {
        height: 40px;
        display: flex;
        flex-direction: row;

        &x {
            font-size: 13px;
            font-weight: 600;
            height: 22px;
            color: $colour-primary;
            background-color: white;
            border: 0.5px solid $colour-border;
            border-radius: 11px;
            padding: 0px 8px;
            margin-right: 8px;
            float: left;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                color: white;
                background-color: $colour-primary;
            }

            &.tagNotSelect {
                color: $colour-primary;
                background-color: white;
            }

            &.tagSelect {
                color: white;
                background-color: $colour-primary;
            }

        }
    }

    &btn {
        z-index: 2;
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        position: fixed;
        bottom: 5%;
        left: 0;
        width: 100%;
        justify-content: center;

        &_form {
            font-size: 18px;
            font-weight: 700;
            padding: 6px 18px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: $colour-primary;
            opacity: 0.5;

            & :hover {
                opacity: 1;
            }
        }
    }
}

// affichage des medias sur la page du photographe
.mod1__show {
    display: grid;
    grid-template-columns: 1fr;

    // affichage d'un media du photographe
    &x {
        width: 100%;
        margin-bottom: 10px;

        // l'image ou la vidéo
        &v {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }

        // le bandeau du média : titre et likes [nombre et icone]
        &d {
            display: flex;
            flex-direction: row;
            height: 30px;
            //            font-size: 14x;
            justify-content: space-between;
            align-items: center;

            &t {
                font-weight: 400;
            }

            &l {
                display: flex;
                flex-direction: row;
                align-items: center;

                &n {
                    font-weight: 500;
                    padding-right: 4px;
                }

                & i {
                    font-size: 13px;
                    padding-left: 4px;
                    color: $colour-primary;
                    background-color: white;
                }

                & i:hover {
                    color: $colour-secondary;
                    transform: scale(1.15);
                }
            }
        }
    }
}

// affichage des medias sur le caroussel du photographe
#mod3 {
    padding: 0px;
    display: grid;
    grid-template-columns: [cl] 40px [cc] 1fr [cr] 40px;
    grid-template-rows: [rgh] auto [rgc] max-content [rgr] auto;
}

// affichage des boutons
.carousselBtn {
    color: black;
    background-color: white;
}

.btnLeft {
    font-size: 18px;
    text-align: right;
    grid-column: cl;
    grid-row: rgc;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: center;


    &b:hover {
        transform: scale(1.2);
        background-color:$colour-secondary;
    }
}

.btnRight {
    font-size: 18px;
    text-align: left;
    grid-column: cr;
    grid-row: rgc;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: center;


    &:hover {
        transform: scale(1.2);
        background-color:$colour-secondary;
    }
}

.btnClose {
    font-size: 18px;
    text-align: left;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: top;

    &:hover {
        transform: scale(1.2);
        background-color:$colour-secondary;
    }
}

.mod3__show {
    grid-column: cc;
    grid-row: rgc;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    //    flex-wrap: nowrap;
    /*
    display: grid;
    grid-template-columns: 1fr;
*/
    // affichage d'un media du photographe
    &x {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        // l'image ou la vidéo
        &v {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }

        // le titre du média
        &d {
            text-align: left;
            height: 30px;
            font-size: 14x;
            font-weight: 400;
        }
    }
}