/****   enter   ****/
#enter {
    width: 182px;
    height: 30px;
    position: absolute;
    top: 0%;
    color: black;
    background-color: #DB8876;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

/****   Headers   ****/
#main-header {
    margin-top: 20px;
    margin-left: 15px;

    &__logo {
        width: 150px;
        object-fit: cover;
    }
}

#mod1Head {
    margin-top: 20px;
    margin-left: 15px;

    &__logo {
        width: 150px;
        object-fit: cover;
    }
}

