/****   enter   ****/
#enter {
    width: 182px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 30%;
    color: black;
    background-color: #DB8876;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

/****   Headers   ****/
.main-header {

    width:fit-content;
    
    &__logo {
        margin-top: 20px;
        margin-left: 15px;
        max-width: 150px;
        object-fit: fill;
    }

    &__tags {
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}

.mod1,
.mod3 {
    &Head {

        &__logo {
            width: 150px;
            object-fit: fill;
        }
    }
}