// affichage & sélection des tags page principale et page photographe
#tags__select {
    @include tags__container;

    &>.tagBtnNav {
        @include tag__display;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: $colour-primary;
        }
    }

    &>.tagSelect {
        color: white;
        background-color: $colour-primary;
    }

    &>.tagNotSelect {
        color: $colour-primary;
        background-color: white;
    }
}

.pcard__tags,
.mod1__tags {
    @include tags__container;

    &x {
        @include tag__display;
    }

    &>.tagSelect {
        color: white;
        background-color: $colour-primary;
    }

    &>.tagNotSelect {
        color: $colour-primary;
        background-color: white;
    }
}