@charset "UTF-8";
@keyframes aff-fondu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes btn-popup {
  0% {
    width: 30rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonct-items__grid,
.restos__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .fonct-items__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }

  .restos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }
}
body {
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  width: auto;
  z-index: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #901C1C;
}

ol,
ul,
li,
a {
  text-decoration: none;
}

.sr-only {
  visibility: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
}

/****   enter   ****/
#enter {
  width: 182px;
  height: 30px;
  position: absolute;
  top: 0%;
  color: black;
  background-color: #DB8876;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

/****   Headers   ****/
#main-header {
  margin-top: 20px;
  margin-left: 15px;
}
#main-header__logo {
  width: 150px;
  object-fit: cover;
}

.mod1Head__logo,
.mod3Head__logo {
  width: 150px;
  object-fit: cover;
}

/*****  SELECTION DES CATEGORIES  *****/
#tags-select {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#tags-select > .tagBtnNav {
  height: 22px;
  font-weight: 600;
  color: #901C1C;
  background-color: white;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  float: left;
}
#tags-select > .tagBtnNav:hover {
  cursor: pointer;
  color: white;
  background-color: #901C1C;
}
#tags-select > .tagBtnNav.tagNotSelect {
  color: #901C1C;
  background-color: white;
}
#tags-select > .tagBtnNav.tagSelect {
  color: white;
  background-color: #901C1C;
}

/******   Affichage du titre en haut à droite   ******/
.main-titre {
  position: absolute;
  top: 8px;
  right: 10px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: #901C1C;
}

/******   AFFICHAGE DES PHOTOPRAGAPHES SELECTIONES  *******/
#cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 10px;
}

.pcard {
  /*    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);   */
  padding-top: 20px;
  width: 100%;
  height: 358px;
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.pcard:hover {
  border: 3px solid #901C1C;
}
.pcard:visited {
  border: 3px solid #D3573D;
}
.pcard img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 100px;
}
.pcard__name {
  width: auto;
  height: 57px;
  font-size: 36px;
  line-height: 46.87px;
  color: #D3573D;
  align-self: center;
}
.pcard__place {
  height: 37px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.93px;
}
.pcard__alt {
  height: 27px;
  font-size: 10px;
  font-weight: 500;
  color: black;
  line-height: 13.02px;
}
.pcard__price {
  height: 17px;
  font-size: 10px;
  font-weight: 300;
  color: #757575;
  line-height: 11.72px;
}
.pcard__tags {
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.pcard__tagsx {
  font-size: 13px;
  font-weight: 600;
  height: 22px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 8px;
  float: left;
  justify-content: center;
  align-items: center;
}
.pcard__tagsx:hover, .pcard__tagsx:active {
  cursor: pointer;
  color: white;
  background-color: #901C1C;
}

/*   les modales photographe ne s'affichent pas par défaut */
#mod1,
#mod2,
#mod3 {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 20px;
  background-color: white;
  color: #901C1C;
}

.mod1__ {
  width: 100%;
  height: auto;
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mod1__d {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mod1__d_t {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: left;
}
.mod1__d_tname {
  height: auto;
  min-height: 57px;
  font-size: 36px;
  flex-wrap: wrap;
  color: #D3573D;
}
.mod1__d_tplace {
  font-weight: 500;
  height: 17px;
  flex-wrap: wrap;
  font-size: 13px;
}
.mod1__d_talt {
  margin-top: 8px;
  height: auto;
  height: 17px;
  font-size: 13px;
  flex-wrap: wrap;
  color: black;
}
.mod1__d_p {
  align-items: flex-end;
  width: fit-content;
}
.mod1__d_p img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border: 1px solid green;
  border-radius: 60px;
}
.mod1__tags {
  height: 40px;
  display: flex;
  flex-direction: row;
}
.mod1__tagsx {
  font-size: 13px;
  font-weight: 600;
  height: 22px;
  color: #901C1C;
  background-color: white;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 8px;
  float: left;
  justify-content: center;
  align-items: center;
}
.mod1__tagsx:hover, .mod1__tagsx:active {
  color: white;
  background-color: #901C1C;
}
.mod1__tagsx.tagNotSelect {
  color: #901C1C;
  background-color: white;
}
.mod1__tagsx.tagSelect {
  color: white;
  background-color: #901C1C;
}
.mod1__btn {
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: transparent;
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  justify-content: center;
}
.mod1__btn_form {
  font-size: 18px;
  font-weight: 700;
  padding: 6px 18px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #901C1C;
  opacity: 0.5;
}
.mod1__btn_form :hover {
  opacity: 1;
}

.mod1__show {
  display: grid;
  grid-template-columns: 1fr;
}
.mod1__showx {
  width: 100%;
  margin-bottom: 10px;
}
.mod1__showxv {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}
.mod1__showxd {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.mod1__showxdt {
  font-weight: 400;
}
.mod1__showxdl {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mod1__showxdln {
  font-weight: 500;
  padding-right: 4px;
}
.mod1__showxdl i {
  font-size: 13px;
  padding-left: 4px;
  color: #901C1C;
  background-color: white;
}
.mod1__showxdl i:hover {
  color: #D3573D;
  transform: scale(1.15);
}

#mod3 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.mod3__show {
  width: 100%;
  height: fit-content;
}
.mod3__showdx {
  flex-direction: column;
  width: 100%;
}
.mod3__showdxv {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}
.mod3__showdxt {
  align-self: left;
  height: 18px;
  font-size: 14x;
  font-weight: 500;
}

.carBtn {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: auto;
  border: none;
}
.carBtnR {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 2px;
  align-content: flex-end;
  justify-content: center;
}
.carBtnN, .carBtnC {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 2px;
  align-content: flex-start;
  justify-content: center;
}
.carBtn_i {
  display: flex;
  font-size: 18px;
  color: black;
  background-color: white;
}
.carBtn_i:hover {
  transform: scale(1.2);
  color: #D3573D;
}

/*# sourceMappingURL=style.css.map */
