@charset "UTF-8";
@keyframes aff-fondu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes btn-popup {
  0% {
    width: 30rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonct-items__grid,
.restos__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .fonct-items__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }

  .restos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1em;
  }
}
body {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

* {
  box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #901C1C;
}

ol,
ul,
li,
a {
  text-decoration: none;
}

.sr-only {
  visibility: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
}

/****   enter   ****/
#enter {
  width: 182px;
  height: 30px;
  position: absolute;
  top: 0%;
  color: black;
  background-color: #DB8876;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

/****   Header   ****/
header {
  margin-top: 20px;
  margin-left: 15px;
}
header-logo {
  width: 150px;
  object-fit: cover;
}

/*****  SELECTION DES CATEGORIES  *****/
#tags-select {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#tags-select > .tagBtn {
  height: 22px;
  font-weight: 600;
  color: #901C1C;
  background-color: white;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  float: left;
}
#tags-select > .tagBtn:hover, #tags-select > .tagBtn:active {
  cursor: pointer;
  color: white;
  background-color: #901C1C;
}

/******   Affichage du titre en haut à droite   ******/
.main-titre {
  position: absolute;
  top: 8px;
  right: 10px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: #901C1C;
}

/******   AFFICHAGE DES PHOTOPRAGAPHES SELECTIONES  *******/
#cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.pcard {
  /*    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);   */
  margin-top: 30px;
  width: 100%;
  height: 358px;
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pcard:hover {
  border: 3px solid #901C1C;
}
.pcard img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 100px;
}
.pcard__name {
  width: auto;
  height: 57px;
  font-size: 36px;
  line-height: 46.87px;
  align-self: center;
}
.pcard__place {
  height: 37px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: 16.93px;
}
.pcard__alt {
  height: 27px;
  font-size: 10px;
  font-weight: 400;
  color: black;
  font-style: normal;
  line-height: 13.02px;
}
.pcard__price {
  height: 27px;
  font-size: 9px;
  font-weight: 400;
  color: #757575;
  font-style: normal;
  line-height: 11.72px;
}
.pcard__tags {
  height: 50px;
  display: flex;
  flex-direction: row;
}
.pcard__tagsx {
  font-size: 13px;
  font-weight: 600;
  height: 22px;
  color: #901C1C;
  background-color: white;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 8px;
  float: left;
  justify-content: center;
  align-items: center;
}

/*   la modale ne s'affiche pas */
#photographe {
  display: none;
}

/*# sourceMappingURL=style.css.map */
