body {
    width: 100%;
    max-width: 440px;
    position: relative;
}

* {
    box-sizing: border-box;
    z-index: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    color: $colour-primary;
}

ol,
ul,
li,
a {
    text-decoration: none;
}

.sr-only {
    visibility: hidden;
}
