@media (max-width: 340px) {

    /****   Headers   ****/
    .main-header img {
        width: 120px;
    }

    .mod1,
    .mod3 {
        &Head img {
            width: 120px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    /******   Affichage du titre en haut à droite   ******/
    .main-titre {
        position: absolute;
        top: 8px;
        right: 10px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 24px;
        color: $colour-primary;
    }

    /******   AFFICHAGE DES PHOTOGRAPHES SELECTIONNES  *******/
    #tags-select {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: transparent;
        width: 100%;
        margin-bottom: 20px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
    }

    // Photographes
    .mod1__show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
    }

    // Formulaire
    .mod2c {
        width: 599px;
        height: auto;

        &__close {
            display: block;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;

            & i {
                color: white;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        &__title {
            font-size: 50px;
        }

        &__submit {
            justify-content: flex-start;

            &_b {
                padding: 14px 50px;
            }
        }
    }

    label {
        font-size: 30px;
        margin-top: 8px;
    }

    .text-control {
        height: 60px;
    }

    .text-message {
        height: 170px;
    }

    .formData[data-error]::after {
        content: attr(data-error);
        font-size: 0.5em;
        line-height: 0.6em;
    }

    input[data-error]::after {
        content: attr(data-error);
        font-size: 5px;
        color: red;
    }
/*
    // Caroussel
    .mod3 {
        max-width: 70vw;
    }
*/
}


@media (min-width: 1200px) {
    .main-header__tags {
        position: absolute;
        top: -20px;
        left: 0;
        background-color: transparent;
        width: 100%;

    }

    /******   Affichage du titre en haut à droite   ******/
    .main-titre {
        position: absolute;
        top: 8px;
        right: 10px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 36px;
        color: $colour-primary;
    }

    /******   AFFICHAGE DES PHOTOGRAPHES SELECTIONNES  *******/
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
        //        position: relative;
        //        left: -162px;
    }

    // Page d'un photographe
    #mod1 {
        padding: 20px 50px;
    }

    .mod1__ {
        background-color: $colour-backgrd;
        padding: 35px 20px;

        &d_t_p {
            padding-top: 20px;
        }
    }

    .mod1__show {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
    }

    // Formulaire
    .mod2 {
        width: 599px;
        height: 900px;
        align-self: center;

        &__close {
            position: fixed;
            top: 50px;
            right: 50px;
            display: block;
            width: 42px;
            height: 42px;
            align-items: center;
            justify-content: center;

            & i {
                color: white;
                font-size: 42px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        &__title {
            font-size: 64px;
        }

        &__submit {
            /*            
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
*/
            justify-content: flex-start;

            &_b {
                padding: 23px 50px;
            }
        }
    }

    label {
        font-size: 36px;
        margin-top: 8px;
    }

    .text-control {
        height: 68px;
    }

    .text-message {
        height: 170px;
    }

    .formData[data-error]::after {
        content: attr(data-error);
        font-size: 0.5em;
        line-height: 0.6em;
    }

    input[data-error]::after {
        content: attr(data-error);
        font-size: 5px;
        color: red;
    }
/*
    // Caroussel
    .mod3 {
        max-width: 55vw;
    }
*/    
}