@media (max-width: 340px) {

    /****   Headers   ****/
    .main-header img {
        width: 120px;
    }

    .mod1,
    .mod3 {
        &Head img {
            width: 120px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    /******   Affichage du titre en haut à droite   ******/
    .main-titre {
        position: absolute;
        top: 8px;
        right: 10px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 24px;
        color: $colour-primary;
    }

    /******   AFFICHAGE DES PHOTOGRAPHES SELECTIONNES  *******/
    #tags-select {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: transparent;
        width: 100%;
        margin-bottom: 20px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
    }

    // Photographes
    .mod1__show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
    }

    // Formulaire
    .mod2c {
        width: 599px;
        height: auto;

        &__close {
            display: block;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;

            & i {
                color: white;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        &__title {
            font-size: 50px;
        }

        &__submit {
            justify-content: flex-start;

            &_b {
                padding: 14px 50px;
            }
        }
    }

    label {
        font-size: 30px;
        margin-top: 8px;
    }

    .text-control {
        height: 60px;
    }

    .text-message {
        height: 170px;
    }

    .formData[data-error]::after {
        content: attr(data-error);
        font-size: 0.5em;
        line-height: 0.6em;
    }

    input[data-error]::after {
        content: attr(data-error);
        font-size: 5px;
        color: red;
    }

    // Caroussel
    .mod3__showxt,
    .carBtn i {
        font-size: 1.6rem;
    }
}

@media (min-width: 1200px) {
/*** page d'accueil ***/
    .main-header {
        &__tags {

            position: absolute;
            top: 30px;
            left: 0;
            background-color: transparent;
            width: 100%;
        }

        &__logo {
            margin-left: 175px;
            margin-top: 38px;
            width: 300px;
            object-fit: fill;
            transform: scale(1.8);
        }
    }

    /******   Affichage du titre en haut à droite   ******/
    .main-titre {
        position: absolute;
        top: 0;
        right: 90px;
        font-size: 36px;
        color: $colour-primary;
    }

    /******   Affichage des photographes sélectionnés  *******/
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

/***  Page d'un photographe  ***/
    #mod1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1240px;
    }

    .mod1 {
        margin: auto;
    }

    .mod1Head__logo {
        margin-left: 25px;
        width: 200px;
        object-fit: fill;
        transform: scale(1.25);
    }

    #tags__select {
        margin-top: 0;
        position: relative;
        top: -65px;
    }

    .mod1__ {
        background-color: $colour-backgrd;
        padding: 56px 50px;
        margin-top: 20px;

        &d {
            &_t {
                &name {
                    font-size: 64px;
                }

                &place {
                    font-size: 24px;
                }

                &alt {
                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }

        &tags {
            justify-content: center;
            margin-left: 50px;
            height: 40px;
            font-size: 18px;
        }

        &d_p img {
            width: 150px;
            height: 150px;
            border-radius: 75px;
        }

        &btn {
            z-index: 2;
            display: flex;
            flex-direction: row;
            background-color: transparent;
            position: absolute;
            top: 220px;
            left: 0;
            width: 100%;
            height: 70px;
            justify-content: center;

            &_form {
                font-size: 20px;
                font-weight: 700;
                padding: 21px 11px;
                margin-right: 15%;
                border: none;
                border-radius: 5px;
                color: white;
                background-color: $colour-primary;
                opacity: 1;

                &:hover {
                    background-color: lighten-button($colour-primary);
                    color: black;
                }
            }
        }
    }

    .menuTri {
        position: relative;
        top: -35px;
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    .mod1__show {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3rem;
        column-gap: 3rem;
    }

    // Formulaire
    .mod2c {
        padding: 1rem 1.7rem;

        &__close {
            position: fixed;
            top: 60px;
            right: 60px;
            display: block;
            width: 60px;
            height: 60px;
            align-items: center;
            justify-content: center;

            & i {
                color: white;
                font-size: 60px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        &__title,
        &__title_n {
            color: black;
            font-size: 64px;
        }

        &__submit {
            justify-content: flex-start;

            &_b {
                padding: 23px 50px;
            }
        }
    }

    label {
        font-size: 34px;
        margin-top: 8px;
    }

    .text-control {
        height: 60px;
    }

    .text-message {
        height: 170px;
    }

    .formData[data-error]::after {
        content: attr(data-error);
        font-size: 0.5em;
        line-height: 0.6em;
    }

    input[data-error]::after {
        content: attr(data-error);
        font-size: 5px;
        color: red;
    }

    // Caroussel
    #mod3 {
        padding: 100px;
    }

    .mod3__showxt,
    .carBtn i {
        font-size: 1.8rem;
    }
}