$colour-primary: #901C1C;
$colour-secondary: #D3573D;
$colour-tertiary: #525252;
$colour-backgrd: #FAFAFA;
$colour-border:#C4C4C4;
$colour-price:#757575;

$layout-margin: 1em;
$grid-gutter: 1em;
$transition-duration: 1.0s;